body{
  background-color: blanchedalmond;
}
/* 
#salmonBckground{
background-image: url(../img/salmon.png);
} */

img {
  width: 10px;
  height: 10px;
}

p {
  color:brown;
}

#storeList{
  color: firebrick;
  font-size: 2em;
}


li{

}